<nav class="navbar px-0 navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAuth"
    aria-controls="navbarNavAuth" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAuth">
    <div class="navbar-nav">
      <a href="/" class="pl-md-0 p-3 text-decoration-none text-light">
        <h3 class="bold">
          <span class="color_danger">VHU </span>
          <span class="color_white">InfoSec Lab</span>
        </h3>
      </a>
    </div>

    <div class="navbar-nav ml-auto">
      <a href="/" class="p-3 text-decoration-none {{navClass '/' currentPath}} bold">Home</a>
      <a href="/challenges" class="p-3 text-decoration-none {{navClass '/challenges' currentPath}} bold">Challenges</a>
      <a href="/hackerboard" class="p-3 text-decoration-none {{navClass '/hackerboard' currentPath}} bold">Hackerboard</a>
        {{#if (not user.team)}}
          <a href="/auth/create-team" class="p-3 text-decoration-none text-light {{activeClass '/auth/create-team' currentPath}} bold" style="nowrap">Create Team</a>
          <a href="/auth/join-team" class="p-3 text-decoration-none text-light {{activeClass '/auth/join-team' currentPath}} bold" style="nowrap">Join Team</a>
        {{/if}}
      <a href="/profile" class="p-3 text-decoration-none {{navClass '/profile' currentPath}} bold">Profile</a>
      <a href="/feedback" class="p-3 text-decoration-none {{navClass '/feedback' currentPath}} bold">Feedback</a>
      <a href="/auth/logout" class="p-3 text-decoration-none text-danger bold">Logout</a>
    </div>
  </div>
</nav>